---
import CardPost from "../components/CardPost.astro";
import HeroBanner from "../components/HeroBanner.astro";
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const allTalks = await getCollection("talks");
---

<Layout title="IglooTalks">
  <HeroBanner />
  <main class="px-8 mx-auto max-w-7xl mt-10">
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      {
        allTalks.map((el) => (
          <CardPost
            title={el.data.title}
            description={el.data.description ?? ""}
            tags={el.data.tags ?? []}
            type="TALKS"
            image={el.data.image ?? ""}
            url={`/talks/${el.slug}`}
          />
        ))
      }
    </section>
  </main>
</Layout>
